
/* 
 * An enhanced version of the Twitter Bootstrap fluid grid
 * David Salvagnini
 * Added the resolution size xxs for phone sized devices, that is a device < 451 px
 * 24 columns to a page, denoted by col24
 */
.visible-xxs
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xxs-block,
.visible-xxs-inline,
.visible-xxs-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 451px) {
  .visible-xxs {
    display: block !important;
  }
  table.visible-xxs {
    display: table;
  }
  tr.visible-xxs {
    display: table-row !important;
  }
  th.visible-xxs,
  td.visible-xxs {
    display: table-cell !important;
  }
}
@media (max-width: 451px) {
  .visible-xxs-block {
    display: block !important;
  }
}
@media (max-width: 451px) {
  .visible-xxs-inline {
    display: inline !important;
  }
}
@media (max-width: 451px) {
  .visible-xxs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 451px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/*Fluid Grid*/
.col24-xxs-1, .col24-xs-1, .col24-sm-1, .col24-md-1, .col24-lg-1, .col24-xxs-2, .col24-xs-2, .col24-sm-2, .col24-md-2, .col24-lg-2, .col24-xxs-3, .col24-xs-3, .col24-sm-3, .col24-md-3, .col24-lg-3, .col24-xxs-4, .col24-xs-4, .col24-sm-4, .col24-md-4, .col24-lg-4, .col24-xxs-5, .col24-xs-5, .col24-sm-5, .col24-md-5, .col24-lg-5, .col24-xxs-6, .col24-xs-6, .col24-sm-6, .col24-md-6, .col24-lg-6, .col24-xxs-7, .col24-xs-7, .col24-sm-7, .col24-md-7, .col24-lg-7, .col24-xxs-8, .col24-xs-8, .col24-sm-8, .col24-md-8, .col24-lg-8, .col24-xxs-9,.col24-xs-9, .col24-sm-9, .col24-md-9, .col24-lg-9, .col24-xxs-10, .col24-xs-10, .col24-sm-10, .col24-md-10, .col24-lg-10, .col24-xxs-11, .col24-xs-11, .col24-sm-11, .col24-md-11, .col24-lg-11, .col24-xxs-12,.col24-xs-12, .col24-sm-12, .col24-md-12, .col24-lg-12, .col24-xxs-13, .col24-xs-13, .col24-sm-13, .col24-md-13, .col24-lg-13, .col24-xxs-14, .col24-xs-14, .col24-sm-14, .col24-md-14, .col24-lg-14, .col24-xxs-15, .col24-xs-15, .col24-sm-15, .col24-md-15, .col24-lg-15, .col24-xxs-16, .col24-xs-16, .col24-sm-16, .col24-md-16, .col24-lg-16, .col24-xxs-17, .col24-xs-17, .col24-sm-17, .col24-md-17, .col24-lg-17, .col24-xxs-18, .col24-xs-18, .col24-sm-18, .col24-md-18, .col24-lg-18, .col24-xxs-19, .col24-xs-19, .col24-sm-19, .col24-md-19, .col24-lg-19, .col24-xxs-20, .col24-xs-20, .col24-sm-20, .col24-md-20, .col24-lg-20, .col24-xxs-21,.col24-xs-21, .col24-sm-21, .col24-md-21, .col24-lg-21, .col24-xxs-22, .col24-xs-22, .col24-sm-22, .col24-md-22, .col24-lg-22, .col24-xxs-23, .col24-xs-23, .col24-sm-23, .col24-md-23, .col24-lg-23, .col24-xxs-24,.col24-xs-24, .col24-sm-24, .col24-md-24, .col24-lg-24 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col24-xxs-1, .col24-xxs-2, .col24-xxs-3, .col24-xxs-4, .col24-xxs-5, .col24-xxs-6, .col24-xxs-7, .col24-xxs-8, .col24-xxs-9, .col24-xxs-10, .col24-xxs-11, .col24-xxs-12, .col24-xxs-13, .col24-xxs-14, .col24-xxs-15, .col24-xxs-16, .col24-xxs-17, .col24-xxs-18, .col24-xxs-19, .col24-xxs-20, .col24-xxs-21, .col24-xxs-22, .col24-xxs-23, .col24-xxs-24 {
    float: left;
  }
.col24-xxs-24 {
  width: 100%;
}
.col24-xxs-23 {
  width: 95.83333333%;
}
.col24-xxs-22 {
  width: 91.66666666%;
}
.col24-xxs-21 {
  width: 87.5%;
}
.col24-xxs-20 {
  width: 83.33333333%;
}
.col24-xxs-19 {
  width: 79.16666666%;
}
.col24-xxs-18 {
  width: 75%;
}
.col24-xxs-17 {
  width: 70.83333333%;
}
.col24-xxs-16 {
  width: 66.66666666%;
}
.col24-xxs-15 {
  width: 62.5%;
}
.col24-xxs-14 {
  width: 58.33333333%;
}
.col24-xxs-13 {
  width: 54.16666666%;
}
.col24-xxs-12 {
  width: 50%;
}
.col24-xxs-11 {
  width: 45.83333333%;
}
.col24-xxs-10 {
  width: 41.66666666%;
}
.col24-xxs-9 {
  width: 37.5%;
}
.col24-xxs-8 {
  width: 33.33333333%;
}
.col24-xxs-7 {
  width: 29.16666666%;
}
.col24-xxs-6 {
  width: 25%;
}
.col24-xxs-5 {
  width: 20.83333333%;
}
.col24-xxs-4 {
  width: 16.66666666%;
}
.col24-xxs-3 {
  width: 12.5%;
}
.col24-xxs-2 {
  width: 8.33333333%;
}
.col24-xxs-1 {
  width: 4.16666666%;
}
.col24-xxs-pull-24 {
  right: 100%;
}
.col24-xxs-pull-23 {
  right: 95.83333333%;
}
.col24-xxs-pull-22 {
  right: 91.66666666%;
}
.col24-xxs-pull-21 {
  right: 87.5%;
}
.col24-xxs-pull-20 {
  right: 83.33333333%;
}
.col24-xxs-pull-19 {
  right: 79.16666666%;
}
.col24-xxs-pull-18 {
  right: 75%;
}
.col24-xxs-pull-17 {
  right: 70.83333333%;
}
.col24-xxs-pull-16 {
  right: 66.66666666%;
}
.col24-xxs-pull-15 {
  right: 62.5%;
}
.col24-xxs-pull-14 {
  right: 58.33333333%;
}
.col24-xxs-pull-13 {
  right: 54.16666666%;
}
.col24-xxs-pull-12 {
  right: 50%;
}
.col24-xxs-pull-11 {
  right: 45.83333333%;
}
.col24-xxs-pull-10 {
  right: 41.66666666%;
}
.col24-xxs-pull-9 {
  right: 37.5%;
}
.col24-xxs-pull-8 {
  right: 33.33333333%;
}
.col24-xxs-pull-7 {
  right: 29.16666666%;
}
.col24-xxs-pull-6 {
  right: 25%;
}
.col24-xxs-pull-5 {
  right: 20.83333333%;
}
.col24-xxs-pull-4 {
  right: 16.66666666%;
}
.col24-xxs-pull-3 {
  right: 12.5%;
}
.col24-xxs-pull-2 {
  right: 8.33333333%;
}
.col24-xxs-pull-1 {
  right: 4.16666666%;
}
.col24-xxs-pull-0 {
  right: auto;
}
.col24-xxs-push-24 {
  left: 100%;
}
.col24-xxs-push-23 {
  left: 95.83333333%;
}
.col24-xxs-push-22 {
  left: 91.66666666%;
}
.col24-xxs-push-21 {
  left: 87.5%;
}
.col24-xxs-push-20 {
  left: 83.33333333%;
}
.col24-xxs-push-19 {
  left: 79.16666666%;
}
.col24-xxs-push-18 {
  left: 75%;
}
.col24-xxs-push-17 {
  left: 70.83333333%;
}
.col24-xxs-push-16 {
  left: 66.66666666%;
}
.col24-xxs-push-15 {
  left: 62.5%;
}
.col24-xxs-push-14 {
  left: 58.33333333%;
}
.col24-xxs-push-13 {
  left: 54.16666666%;
}
.col24-xxs-push-12 {
  left: 50%;
}
.col24-xxs-push-11 {
  left: 45.83333333%;
}
.col24-xxs-push-10 {
  left: 41.66666666%;
}
.col24-xxs-push-9 {
  left: 37.5%;
}
.col24-xxs-push-8 {
  left: 33.33333333%;
}
.col24-xxs-push-7 {
  left: 29.16666666%;
}
.col24-xxs-push-6 {
  left: 25%;
}
.col24-xxs-push-5 {
  left: 20.83333333%;
}
.col24-xxs-push-4 {
  left: 16.66666666%;
}
.col24-xxs-push-3 {
  left: 12.5%;
}
.col24-xxs-push-2 {
  left: 8.33333333%;
}
.col24-xxs-push-1 {
  left: 4.16666666%;
}
.col24-xxs-push-0 {
  left: auto;
}
.col24-xxs-offset-24 {
  margin-left: 100%;
}
.col24-xxs-offset-23 {
  margin-left: 95.83333333%;
}
.col24-xxs-offset-22 {
  margin-left: 91.66666666%;
}
.col24-xxs-offset-21 {
  margin-left: 87.5%;
}
.col24-xxs-offset-20 {
  margin-left: 83.33333333%;
}
.col24-xxs-offset-19 {
  margin-left: 79.16666666%;
}
.col24-xxs-offset-18 {
  margin-left: 75%;
}
.col24-xxs-offset-17 {
  margin-left: 70.83333333%;
}
.col24-xxs-offset-16 {
  margin-left: 66.66666666%;
}
.col24-xxs-offset-15 {
  margin-left: 62.5%;
}
.col24-xxs-offset-14 {
  margin-left: 58.33333333%;
}
.col24-xxs-offset-13 {
  margin-left: 54.16666666%;
}
.col24-xxs-offset-12 {
  margin-left: 50%;
}
.col24-xxs-offset-11 {
  margin-left: 45.83333333%;
}
.col24-xxs-offset-10 {
  margin-left: 41.66666666%;
}
.col24-xxs-offset-9 {
  margin-left: 37.5%;
}
.col24-xxs-offset-8 {
  margin-left: 33.33333333%;
}
.col24-xxs-offset-7 {
  margin-left: 29.16666666%;
}
.col24-xxs-offset-6 {
  margin-left: 25%;
}
.col24-xxs-offset-5 {
  margin-left: 20.83333333%;
}
.col24-xxs-offset-4 {
  margin-left: 16.66666666%;
}
.col24-xxs-offset-3 {
  margin-left: 12.5%;
}
.col24-xxs-offset-2 {
  margin-left: 8.33333333%;
}
.col24-xxs-offset-1 {
  margin-left: 4.16666666%;
}
.col24-xxs-offset-0 {
  margin-left: 0;
}
@media (min-width: 451px) {
  .col24-xs-1, .col24-xs-2, .col24-xs-3, .col24-xs-4, .col24-xs-5, .col24-xs-6, .col24-xs-7, .col24-xs-8, .col24-xs-9, .col24-xs-10, .col24-xs-11, .col24-xs-12, .col24-xs-13, .col24-xs-14, .col24-xs-15, .col24-xs-16, .col24-xs-17, .col24-xs-18, .col24-xs-19, .col24-xs-20, .col24-xs-21, .col24-xs-22, .col24-xs-23, .col24-xs-24 {
    float: left;
  }
  .col24-xs-24 {
    width: 100%;
  }
  .col24-xs-23 {
    width: 95.83333333%;
  }
  .col24-xs-22 {
    width: 91.66666666%;
  }
  .col24-xs-21 {
    width: 87.5%;
  }
  .col24-xs-20 {
    width: 83.33333333%;
  }
  .col24-xs-19 {
    width: 79.16666666%;
  }
  .col24-xs-18 {
    width: 75%;
  }
  .col24-xs-17 {
    width: 70.83333333%;
  }
  .col24-xs-16 {
    width: 66.66666666%;
  }
  .col24-xs-15 {
    width: 62.5%;
  }
  .col24-xs-14 {
    width: 58.33333333%;
  }
  .col24-xs-13 {
    width: 54.16666666%;
  }
  .col24-xs-12 {
    width: 50%;
  }
  .col24-xs-11 {
    width: 45.83333333%;
  }
  .col24-xs-10 {
    width: 41.66666666%;
  }
  .col24-xs-9 {
    width: 37.5%;
  }
  .col24-xs-8 {
    width: 33.33333333%;
  }
  .col24-xs-7 {
    width: 29.16666666%;
  }
  .col24-xs-6 {
    width: 25%;
  }
  .col24-xs-5 {
    width: 20.83333333%;
  }
  .col24-xs-4 {
    width: 16.66666666%;
  }
  .col24-xs-3 {
    width: 12.5%;
  }
  .col24-xs-2 {
    width: 8.33333333%;
  }
  .col24-xs-1 {
    width: 4.16666666%;
  }
  .col24-xs-pull-24 {
    right: 100%;
  }
  .col24-xs-pull-23 {
    right: 95.83333333%;
  }
  .col24-xs-pull-22 {
    right: 91.66666666%;
  }
  .col24-xs-pull-21 {
    right: 87.5%;
  }
  .col24-xs-pull-20 {
    right: 83.33333333%;
  }
  .col24-xs-pull-19 {
    right: 79.16666666%;
  }
  .col24-xs-pull-18 {
    right: 75%;
  }
  .col24-xs-pull-17 {
    right: 70.83333333%;
  }
  .col24-xs-pull-16 {
    right: 66.66666666%;
  }
  .col24-xs-pull-15 {
    right: 62.5%;
  }
  .col24-xs-pull-14 {
    right: 58.33333333%;
  }
  .col24-xs-pull-13 {
    right: 54.16666666%;
  }
  .col24-xs-pull-12 {
    right: 50%;
  }
  .col24-xs-pull-11 {
    right: 45.83333333%;
  }
  .col24-xs-pull-10 {
    right: 41.66666666%;
  }
  .col24-xs-pull-9 {
    right: 37.5%;
  }
  .col24-xs-pull-8 {
    right: 33.33333333%;
  }
  .col24-xs-pull-7 {
    right: 29.16666666%;
  }
  .col24-xs-pull-6 {
    right: 25%;
  }
  .col24-xs-pull-5 {
    right: 20.83333333%;
  }
  .col24-xs-pull-4 {
    right: 16.66666666%;
  }
  .col24-xs-pull-3 {
    right: 12.5%;
  }
  .col24-xs-pull-2 {
    right: 8.33333333%;
  }
  .col24-xs-pull-1 {
    right: 4.16666666%;
  }
  .col24-xs-pull-0 {
    right: auto;
  }
  .col24-xs-push-24 {
    left: 100%;
  }
  .col24-xs-push-23 {
    left: 95.83333333%;
  }
  .col24-xs-push-22 {
    left: 91.66666666%;
  }
  .col24-xs-push-21 {
    left: 87.5%;
  }
  .col24-xs-push-20 {
    left: 83.33333333%;
  }
  .col24-xs-push-19 {
    left: 79.16666666%;
  }
  .col24-xs-push-18 {
    left: 75%;
  }
  .col24-xs-push-17 {
    left: 70.83333333%;
  }
  .col24-xs-push-16 {
    left: 66.66666666%;
  }
  .col24-xs-push-15 {
    left: 62.5%;
  }
  .col24-xs-push-14 {
    left: 58.33333333%;
  }
  .col24-xs-push-13 {
    left: 54.16666666%;
  }
  .col24-xs-push-12 {
    left: 50%;
  }
  .col24-xs-push-11 {
    left: 45.83333333%;
  }
  .col24-xs-push-10 {
    left: 41.66666666%;
  }
  .col24-xs-push-9 {
    left: 37.5%;
  }
  .col24-xs-push-8 {
    left: 33.33333333%;
  }
  .col24-xs-push-7 {
    left: 29.16666666%;
  }
  .col24-xs-push-6 {
    left: 25%;
  }
  .col24-xs-push-5 {
    left: 20.83333333%;
  }
  .col24-xs-push-4 {
    left: 16.66666666%;
  }
  .col24-xs-push-3 {
    left: 12.5%;
  }
  .col24-xs-push-2 {
    left: 8.33333333%;
  }
  .col24-xs-push-1 {
    left: 4.16666666%;
  }
  .col24-xs-push-0 {
    left: auto;
  }
  .col24-xs-offset-24 {
    margin-left: 100%;
  }
  .col24-xs-offset-23 {
    margin-left: 95.83333333%;
  }
  .col24-xs-offset-22 {
    margin-left: 91.66666666%;
  }
  .col24-xs-offset-21 {
    margin-left: 87.5%;
  }
  .col24-xs-offset-20 {
    margin-left: 83.33333333%;
  }
  .col24-xs-offset-19 {
    margin-left: 79.16666666%;
  }
  .col24-xs-offset-18 {
    margin-left: 75%;
  }
  .col24-xs-offset-17 {
    margin-left: 70.83333333%;
  }
  .col24-xs-offset-16 {
    margin-left: 66.66666666%;
  }
  .col24-xs-offset-15 {
    margin-left: 62.5%;
  }
  .col24-xs-offset-14 {
    margin-left: 58.33333333%;
  }
  .col24-xs-offset-13 {
    margin-left: 54.16666666%;
  }
  .col24-xs-offset-12 {
    margin-left: 50%;
  }
  .col24-xs-offset-11 {
    margin-left: 45.83333333%;
  }
  .col24-xs-offset-10 {
    margin-left: 41.66666666%;
  }
  .col24-xs-offset-9 {
    margin-left: 37.5%;
  }
  .col24-xs-offset-8 {
    margin-left: 33.33333333%;
  }
  .col24-xs-offset-7 {
    margin-left: 29.16666666%;
  }
  .col24-xs-offset-6 {
    margin-left: 25%;
  }
  .col24-xs-offset-5 {
    margin-left: 20.83333333%;
  }
  .col24-xs-offset-4 {
    margin-left: 16.66666666%;
  }
  .col24-xs-offset-3 {
    margin-left: 12.5%;
  }
  .col24-xs-offset-2 {
    margin-left: 8.33333333%;
  }
  .col24-xs-offset-1 {
    margin-left: 4.16666666%;
  }
  .col24-xs-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .col24-sm-1, .col24-sm-2, .col24-sm-3, .col24-sm-4, .col24-sm-5, .col24-sm-6, .col24-sm-7, .col24-sm-8, .col24-sm-9, .col24-sm-10, .col24-sm-11, .col24-sm-12, .col24-sm-13, .col24-sm-14, .col24-sm-15, .col24-sm-16, .col24-sm-17, .col24-sm-18, .col24-sm-19, .col24-sm-20, .col24-sm-21, .col24-sm-22, .col24-sm-23, .col24-sm-24 {
    float: left;
  }
  .col24-sm-24 {
    width: 100%;
  }
  .col24-sm-23 {
    width: 95.83333333%;
  }
  .col24-sm-22 {
    width: 91.66666666%;
  }
  .col24-sm-21 {
    width: 87.5%;
  }
  .col24-sm-20 {
    width: 83.33333333%;
  }
  .col24-sm-19 {
    width: 79.16666666%;
  }
  .col24-sm-18 {
    width: 75%;
  }
  .col24-sm-17 {
    width: 70.83333333%;
  }
  .col24-sm-16 {
    width: 66.66666666%;
  }
  .col24-sm-15 {
    width: 62.5%;
  }
  .col24-sm-14 {
    width: 58.33333333%;
  }
  .col24-sm-13 {
    width: 54.16666666%;
  }
  .col24-sm-12 {
    width: 50%;
  }
  .col24-sm-11 {
    width: 45.83333333%;
  }
  .col24-sm-10 {
    width: 41.66666666%;
  }
  .col24-sm-9 {
    width: 37.5%;
  }
  .col24-sm-8 {
    width: 33.33333333%;
  }
  .col24-sm-7 {
    width: 29.16666666%;
  }
  .col24-sm-6 {
    width: 25%;
  }
  .col24-sm-5 {
    width: 20.83333333%;
  }
  .col24-sm-4 {
    width: 16.66666666%;
  }
  .col24-sm-3 {
    width: 12.5%;
  }
  .col24-sm-2 {
    width: 8.33333333%;
  }
  .col24-sm-1 {
    width: 4.16666666%;
  }
  .col24-sm-pull-24 {
    right: 100%;
  }
  .col24-sm-pull-23 {
    right: 95.83333333%;
  }
  .col24-sm-pull-22 {
    right: 91.66666666%;
  }
  .col24-sm-pull-21 {
    right: 87.5%;
  }
  .col24-sm-pull-20 {
    right: 83.33333333%;
  }
  .col24-sm-pull-19 {
    right: 79.16666666%;
  }
  .col24-sm-pull-18 {
    right: 75%;
  }
  .col24-sm-pull-17 {
    right: 70.83333333%;
  }
  .col24-sm-pull-16 {
    right: 66.66666666%;
  }
  .col24-sm-pull-15 {
    right: 62.5%;
  }
  .col24-sm-pull-14 {
    right: 58.33333333%;
  }
  .col24-sm-pull-13 {
    right: 54.16666666%;
  }
  .col24-sm-pull-12 {
    right: 50%;
  }
  .col24-sm-pull-11 {
    right: 45.83333333%;
  }
  .col24-sm-pull-10 {
    right: 41.66666666%;
  }
  .col24-sm-pull-9 {
    right: 37.5%;
  }
  .col24-sm-pull-8 {
    right: 33.33333333%;
  }
  .col24-sm-pull-7 {
    right: 29.16666666%;
  }
  .col24-sm-pull-6 {
    right: 25%;
  }
  .col24-sm-pull-5 {
    right: 20.83333333%;
  }
  .col24-sm-pull-4 {
    right: 16.66666666%;
  }
  .col24-sm-pull-3 {
    right: 12.5%;
  }
  .col24-sm-pull-2 {
    right: 8.33333333%;
  }
  .col24-sm-pull-1 {
    right: 4.16666666%;
  }
  .col24-sm-pull-0 {
    right: auto;
  }
  .col24-sm-push-24 {
    left: 100%;
  }
  .col24-sm-push-23 {
    left: 95.83333333%;
  }
  .col24-sm-push-22 {
    left: 91.66666666%;
  }
  .col24-sm-push-21 {
    left: 87.5%;
  }
  .col24-sm-push-20 {
    left: 83.33333333%;
  }
  .col24-sm-push-19 {
    left: 79.16666666%;
  }
  .col24-sm-push-18 {
    left: 75%;
  }
  .col24-sm-push-17 {
    left: 70.83333333%;
  }
  .col24-sm-push-16 {
    left: 66.66666666%;
  }
  .col24-sm-push-15 {
    left: 62.5%;
  }
  .col24-sm-push-14 {
    left: 58.33333333%;
  }
  .col24-sm-push-13 {
    left: 54.16666666%;
  }
  .col24-sm-push-12 {
    left: 50%;
  }
  .col24-sm-push-11 {
    left: 45.83333333%;
  }
  .col24-sm-push-10 {
    left: 41.66666666%;
  }
  .col24-sm-push-9 {
    left: 37.5%;
  }
  .col24-sm-push-8 {
    left: 33.33333333%;
  }
  .col24-sm-push-7 {
    left: 29.16666666%;
  }
  .col24-sm-push-6 {
    left: 25%;
  }
  .col24-sm-push-5 {
    left: 20.83333333%;
  }
  .col24-sm-push-4 {
    left: 16.66666666%;
  }
  .col24-sm-push-3 {
    left: 12.5%;
  }
  .col24-sm-push-2 {
    left: 8.33333333%;
  }
  .col24-sm-push-1 {
    left: 4.16666666%;
  }
  .col24-sm-push-0 {
    left: auto;
  }
  .col24-sm-offset-24 {
    margin-left: 100%;
  }
  .col24-sm-offset-23 {
    margin-left: 95.83333333%;
  }
  .col24-sm-offset-22 {
    margin-left: 91.66666666%;
  }
  .col24-sm-offset-21 {
    margin-left: 87.5%;
  }
  .col24-sm-offset-20 {
    margin-left: 83.33333333%;
  }
  .col24-sm-offset-19 {
    margin-left: 79.16666666%;
  }
  .col24-sm-offset-18 {
    margin-left: 75%;
  }
  .col24-sm-offset-17 {
    margin-left: 70.83333333%;
  }
  .col24-sm-offset-16 {
    margin-left: 66.66666666%;
  }
  .col24-sm-offset-15 {
    margin-left: 62.5%;
  }
  .col24-sm-offset-14 {
    margin-left: 58.33333333%;
  }
  .col24-sm-offset-13 {
    margin-left: 54.16666666%;
  }
  .col24-sm-offset-12 {
    margin-left: 50%;
  }
  .col24-sm-offset-11 {
    margin-left: 45.83333333%;
  }
  .col24-sm-offset-10 {
    margin-left: 41.66666666%;
  }
  .col24-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col24-sm-offset-8 {
    margin-left: 33.33333333%;
  }
  .col24-sm-offset-7 {
    margin-left: 29.16666666%;
  }
  .col24-sm-offset-6 {
    margin-left: 25%;
  }
  .col24-sm-offset-5 {
    margin-left: 20.83333333%;
  }
  .col24-sm-offset-4 {
    margin-left: 16.66666666%;
  }
  .col24-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col24-sm-offset-2 {
    margin-left: 8.33333333%;
  }
  .col24-sm-offset-1 {
    margin-left: 4.16666666%;
  }
  .col24-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col24-md-1, .col24-md-2, .col24-md-3, .col24-md-4, .col24-md-5, .col24-md-6, .col24-md-7, .col24-md-8, .col24-md-9, .col24-md-10, .col24-md-11, .col24-md-12, .col24-md-13, .col24-md-14, .col24-md-15, .col24-md-16, .col24-md-17, .col24-md-18, .col24-md-19, .col24-md-20, .col24-md-21, .col24-md-22, .col24-md-23, .col24-md-24 {
    float: left;
  }
  .col24-md-24 {
    width: 100%;
  }
  .col24-md-23 {
    width: 95.83333333%;
  }
  .col24-md-22 {
    width: 91.66666666%;
  }
  .col24-md-21 {
    width: 87.5%;
  }
  .col24-md-20 {
    width: 83.33333333%;
  }
  .col24-md-19 {
    width: 79.16666666%;
  }
  .col24-md-18 {
    width: 75%;
  }
  .col24-md-17 {
    width: 70.83333333%;
  }
  .col24-md-16 {
    width: 66.66666666%;
  }
  .col24-md-15 {
    width: 62.5%;
  }
  .col24-md-14 {
    width: 58.33333333%;
  }
  .col24-md-13 {
    width: 54.16666666%;
  }
  .col24-md-12 {
    width: 50%;
  }
  .col24-md-11 {
    width: 45.83333333%;
  }
  .col24-md-10 {
    width: 41.66666666%;
  }
  .col24-md-9 {
    width: 37.5%;
  }
  .col24-md-8 {
    width: 33.33333333%;
  }
  .col24-md-7 {
    width: 29.16666666%;
  }
  .col24-md-6 {
    width: 25%;
  }
  .col24-md-5 {
    width: 20.83333333%;
  }
  .col24-md-4 {
    width: 16.66666666%;
  }
  .col24-md-3 {
    width: 12.5%;
  }
  .col24-md-2 {
    width: 8.33333333%;
  }
  .col24-md-1 {
    width: 4.16666666%;
  }
  .col24-md-pull-24 {
    right: 100%;
  }
  .col24-md-pull-23 {
    right: 95.83333333%;
  }
  .col24-md-pull-22 {
    right: 91.66666666%;
  }
  .col24-md-pull-21 {
    right: 87.5%;
  }
  .col24-md-pull-20 {
    right: 83.33333333%;
  }
  .col24-md-pull-19 {
    right: 79.16666666%;
  }
  .col24-md-pull-18 {
    right: 75%;
  }
  .col24-md-pull-17 {
    right: 70.83333333%;
  }
  .col24-md-pull-16 {
    right: 66.66666666%;
  }
  .col24-md-pull-15 {
    right: 62.5%;
  }
  .col24-md-pull-14 {
    right: 58.33333333%;
  }
  .col24-md-pull-13 {
    right: 54.16666666%;
  }
  .col24-md-pull-12 {
    right: 50%;
  }
  .col24-md-pull-11 {
    right: 45.83333333%;
  }
  .col24-md-pull-10 {
    right: 41.66666666%;
  }
  .col24-md-pull-9 {
    right: 37.5%;
  }
  .col24-md-pull-8 {
    right: 33.33333333%;
  }
  .col24-md-pull-7 {
    right: 29.16666666%;
  }
  .col24-md-pull-6 {
    right: 25%;
  }
  .col24-md-pull-5 {
    right: 20.83333333%;
  }
  .col24-md-pull-4 {
    right: 16.66666666%;
  }
  .col24-md-pull-3 {
    right: 12.5%;
  }
  .col24-md-pull-2 {
    right: 8.33333333%;
  }
  .col24-md-pull-1 {
    right: 4.16666666%;
  }
  .col24-md-pull-0 {
    right: auto;
  }
  .col24-md-push-24 {
    left: 100%;
  }
  .col24-md-push-23 {
    left: 95.83333333%;
  }
  .col24-md-push-22 {
    left: 91.66666666%;
  }
  .col24-md-push-21 {
    left: 87.5%;
  }
  .col24-md-push-20 {
    left: 83.33333333%;
  }
  .col24-md-push-19 {
    left: 79.16666666%;
  }
  .col24-md-push-18 {
    left: 75%;
  }
  .col24-md-push-17 {
    left: 70.83333333%;
  }
  .col24-md-push-16 {
    left: 66.66666666%;
  }
  .col24-md-push-15 {
    left: 62.5%;
  }
  .col24-md-push-14 {
    left: 58.33333333%;
  }
  .col24-md-push-13 {
    left: 54.16666666%;
  }
  .col24-md-push-12 {
    left: 50%;
  }
  .col24-md-push-11 {
    left: 45.83333333%;
  }
  .col24-md-push-10 {
    left: 41.66666666%;
  }
  .col24-md-push-9 {
    left: 37.5%;
  }
  .col24-md-push-8 {
    left: 33.33333333%;
  }
  .col24-md-push-7 {
    left: 29.16666666%;
  }
  .col24-md-push-6 {
    left: 25%;
  }
  .col24-md-push-5 {
    left: 20.83333333%;
  }
  .col24-md-push-4 {
    left: 16.66666666%;
  }
  .col24-md-push-3 {
    left: 12.5%;
  }
  .col24-md-push-2 {
    left: 8.33333333%;
  }
  .col24-md-push-1 {
    left: 4.16666666%;
  }
  .col24-md-push-0 {
    left: auto;
  }
  .col24-md-offset-24 {
    margin-left: 100%;
  }
  .col24-md-offset-23 {
    margin-left: 95.83333333%;
  }
  .col24-md-offset-22 {
    margin-left: 91.66666666%;
  }
  .col24-md-offset-21 {
    margin-left: 87.5%;
  }
  .col24-md-offset-20 {
    margin-left: 83.33333333%;
  }
  .col24-md-offset-19 {
    margin-left: 79.16666666%;
  }
  .col24-md-offset-18 {
    margin-left: 75%;
  }
  .col24-md-offset-17 {
    margin-left: 70.83333333%;
  }
  .col24-md-offset-16 {
    margin-left: 66.66666666%;
  }
  .col24-md-offset-15 {
    margin-left: 62.5%;
  }
  .col24-md-offset-14 {
    margin-left: 58.33333333%;
  }
  .col24-md-offset-13 {
    margin-left: 54.16666666%;
  }
  .col24-md-offset-12 {
    margin-left: 50%;
  }
  .col24-md-offset-11 {
    margin-left: 45.83333333%;
  }
  .col24-md-offset-10 {
    margin-left: 41.66666666%;
  }
  .col24-md-offset-9 {
    margin-left: 37.5%;
  }
  .col24-md-offset-8 {
    margin-left: 33.33333333%;
  }
  .col24-md-offset-7 {
    margin-left: 29.16666666%;
  }
  .col24-md-offset-6 {
    margin-left: 25%;
  }
  .col24-md-offset-5 {
    margin-left: 20.83333333%;
  }
  .col24-md-offset-4 {
    margin-left: 16.66666666%;
  }
  .col24-md-offset-3 {
    margin-left: 12.5%;
  }
  .col24-md-offset-2 {
    margin-left: 8.33333333%;
  }
  .col24-md-offset-1 {
    margin-left: 4.16666666%;
  }
  .col24-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col24-lg-1, .col24-lg-2, .col24-lg-3, .col24-lg-4, .col24-lg-5, .col24-lg-6, .col24-lg-7, .col24-lg-8, .col24-lg-9, .col24-lg-10, .col24-lg-11, .col24-lg-12, .col24-lg-13, .col24-lg-14, .col24-lg-15, .col24-lg-16, .col24-lg-17, .col24-lg-18, .col24-lg-19, .col24-lg-20, .col24-lg-21, .col24-lg-22, .col24-lg-23, .col24-lg-24 {
    float: left;
  }
  .col24-lg-24 {
    width: 100%;
  }
  .col24-lg-23 {
    width: 95.83333333%;
  }
  .col24-lg-22 {
    width: 91.66666666%;
  }
  .col24-lg-21 {
    width: 87.5%;
  }
  .col24-lg-20 {
    width: 83.33333333%;
  }
  .col24-lg-19 {
    width: 79.16666666%;
  }
  .col24-lg-18 {
    width: 75%;
  }
  .col24-lg-17 {
    width: 70.83333333%;
  }
  .col24-lg-16 {
    width: 66.66666666%;
  }
  .col24-lg-15 {
    width: 62.5%;
  }
  .col24-lg-14 {
    width: 58.33333333%;
  }
  .col24-lg-13 {
    width: 54.16666666%;
  }
  .col24-lg-12 {
    width: 50%;
  }
  .col24-lg-11 {
    width: 45.83333333%;
  }
  .col24-lg-10 {
    width: 41.66666666%;
  }
  .col24-lg-9 {
    width: 37.5%;
  }
  .col24-lg-8 {
    width: 33.33333333%;
  }
  .col24-lg-7 {
    width: 29.16666666%;
  }
  .col24-lg-6 {
    width: 25%;
  }
  .col24-lg-5 {
    width: 20.83333333%;
  }
  .col24-lg-4 {
    width: 16.66666666%;
  }
  .col24-lg-3 {
    width: 12.5%;
  }
  .col24-lg-2 {
    width: 8.33333333%;
  }
  .col24-lg-1 {
    width: 4.16666666%;
  }
  .col24-lg-pull-24 {
    right: 100%;
  }
  .col24-lg-pull-23 {
    right: 95.83333333%;
  }
  .col24-lg-pull-22 {
    right: 91.66666666%;
  }
  .col24-lg-pull-21 {
    right: 87.5%;
  }
  .col24-lg-pull-20 {
    right: 83.33333333%;
  }
  .col24-lg-pull-19 {
    right: 79.16666666%;
  }
  .col24-lg-pull-18 {
    right: 75%;
  }
  .col24-lg-pull-17 {
    right: 70.83333333%;
  }
  .col24-lg-pull-16 {
    right: 66.66666666%;
  }
  .col24-lg-pull-15 {
    right: 62.5%;
  }
  .col24-lg-pull-14 {
    right: 58.33333333%;
  }
  .col24-lg-pull-13 {
    right: 54.16666666%;
  }
  .col24-lg-pull-12 {
    right: 50%;
  }
  .col24-lg-pull-11 {
    right: 45.83333333%;
  }
  .col24-lg-pull-10 {
    right: 41.66666666%;
  }
  .col24-lg-pull-9 {
    right: 37.5%;
  }
  .col24-lg-pull-8 {
    right: 33.33333333%;
  }
  .col24-lg-pull-7 {
    right: 29.16666666%;
  }
  .col24-lg-pull-6 {
    right: 25%;
  }
  .col24-lg-pull-5 {
    right: 20.83333333%;
  }
  .col24-lg-pull-4 {
    right: 16.66666666%;
  }
  .col24-lg-pull-3 {
    right: 12.5%;
  }
  .col24-lg-pull-2 {
    right: 8.33333333%;
  }
  .col24-lg-pull-1 {
    right: 4.16666666%;
  }
  .col24-lg-pull-0 {
    right: auto;
  }
  .col24-lg-push-24 {
    left: 100%;
  }
  .col24-lg-push-23 {
    left: 95.83333333%;
  }
  .col24-lg-push-22 {
    left: 91.66666666%;
  }
  .col24-lg-push-21 {
    left: 87.5%;
  }
  .col24-lg-push-20 {
    left: 83.33333333%;
  }
  .col24-lg-push-19 {
    left: 79.16666666%;
  }
  .col24-lg-push-18 {
    left: 75%;
  }
  .col24-lg-push-17 {
    left: 70.83333333%;
  }
  .col24-lg-push-16 {
    left: 66.66666666%;
  }
  .col24-lg-push-15 {
    left: 62.5%;
  }
  .col24-lg-push-14 {
    left: 58.33333333%;
  }
  .col24-lg-push-13 {
    left: 54.16666666%;
  }
  .col24-lg-push-12 {
    left: 50%;
  }
  .col24-lg-push-11 {
    left: 45.83333333%;
  }
  .col24-lg-push-10 {
    left: 41.66666666%;
  }
  .col24-lg-push-9 {
    left: 37.5%;
  }
  .col24-lg-push-8 {
    left: 33.33333333%;
  }
  .col24-lg-push-7 {
    left: 29.16666666%;
  }
  .col24-lg-push-6 {
    left: 25%;
  }
  .col24-lg-push-5 {
    left: 20.83333333%;
  }
  .col24-lg-push-4 {
    left: 16.66666666%;
  }
  .col24-lg-push-3 {
    left: 12.5%;
  }
  .col24-lg-push-2 {
    left: 8.33333333%;
  }
  .col24-lg-push-1 {
    left: 4.16666666%;
  }
  .col24-lg-push-0 {
    left: auto;
  }
  .col24-lg-offset-24 {
    margin-left: 100%;
  }
  .col24-lg-offset-23 {
    margin-left: 95.83333333%;
  }
  .col24-lg-offset-22 {
    margin-left: 91.66666666%;
  }
  .col24-lg-offset-21 {
    margin-left: 87.5%;
  }
  .col24-lg-offset-20 {
    margin-left: 83.33333333%;
  }
  .col24-lg-offset-19 {
    margin-left: 79.16666666%;
  }
  .col24-lg-offset-18 {
    margin-left: 75%;
  }
  .col24-lg-offset-17 {
    margin-left: 70.83333333%;
  }
  .col24-lg-offset-16 {
    margin-left: 66.66666666%;
  }
  .col24-lg-offset-15 {
    margin-left: 62.5%;
  }
  .col24-lg-offset-14 {
    margin-left: 58.33333333%;
  }
  .col24-lg-offset-13 {
    margin-left: 54.16666666%;
  }
  .col24-lg-offset-12 {
    margin-left: 50%;
  }
  .col24-lg-offset-11 {
    margin-left: 45.83333333%;
  }
  .col24-lg-offset-10 {
    margin-left: 41.66666666%;
  }
  .col24-lg-offset-9 {
    margin-left: 37.5%;
  }
  .col24-lg-offset-8 {
    margin-left: 33.33333333%;
  }
  .col24-lg-offset-7 {
    margin-left: 29.16666666%;
  }
  .col24-lg-offset-6 {
    margin-left: 25%;
  }
  .col24-lg-offset-5 {
    margin-left: 20.83333333%;
  }
  .col24-lg-offset-4 {
    margin-left: 16.66666666%;
  }
  .col24-lg-offset-3 {
    margin-left: 12.5%;
  }
  .col24-lg-offset-2 {
    margin-left: 8.33333333%;
  }
  .col24-lg-offset-1 {
    margin-left: 4.16666666%;
  }
  .col24-lg-offset-0 {
    margin-left: 0;
  }
  .test {
  width:50%;
}
}
